/* TODO: insert default styles of your component here for easy access */

.ms-menu-list{
   list-style:none;
   padding: 0;
}

.hamburger {
   cursor : pointer;
}

.ms-menu-item{
   overflow : hidden;
   align-items : center;
   padding-left : 15px;
   justify-content: left;
   height: 50px;
   cursor: pointer;
   display: flex;
   width : 100%;
   color : #424242;
   font-size : 1.3em;
}


.ms-menu-item:hover{
   background-color: #ccc;
}

.ms-menu-item-selected {
   background : #ddd;
}

.ms-header-menu{
   align-items: center;
   justify-content: center;
   display: flex;
   margin-left: 10px;
   font-size: 25px;
}

.ms-container {
   display: flex;
   flex: 1;
   flex-direction: column;
}

.ms-header {
   background-color: #fff;
   border-bottom : 1px solid #ccc;
   display: flex;
   flex-direction: row;
}

.ms-body {
   display: flex;
   flex: 1;
   flex-direction: row;
}

.ms-menu {
   display: flex;
   flex: 0.2;
   transition : 1s;
   flex-direction: column;
   border-right : 1px solid #ddd;
}

.ms-menu-hidden {
   display : flex;
   overflow : hidden;
   width : 0px;
   transition : 1s;
   border-right : 1px solid #ddd;
}


.ms-body-container {
   display: flex;
   flex: 1;
   flex-direction: column;
}

