/* TODO: insert default styles of your component here for easy access */

.ms-menu-list{
   list-style:none;
   padding: 0;
}

.ms-menu-item{
   align-items: center;
   justify-content: center;
   height: 40px;
   cursor: pointer;
   display: flex;
}


.ms-menu-item:hover{
   background-color: #eee;
}

.ms-header-menu{
   align-items: center;
   justify-content: center;
   display: flex;
   margin-left: 10px;
   font-size: 25px;
}

.ms-container {
   display: flex;
   flex: 1;
   flex-direction: column;
}

.ms-header {
   background-color: #eee;
   display: flex;
   flex: 0.1;
   flex-direction: row;
}

.ms-body {
   display: flex;
   flex: 0.9;
   flex-direction: row;
}

.ms-menu {
   display: flex;
   flex: 0.2;
   flex-direction: column;
   box-shadow: 0 5px 10px black;
}

.ms-body-container {
   display: flex;
   flex: 0.8;
   flex-direction: column;
}

